
body {
    
    
    background-size: 100%;
    
}


canvas {
  
    height:95vh;
      width:auto;
}


#background_canvas {
    z-index: 0;
    position:absolute;
}

#planets_canvas {
    z-index: 1;
    position:absolute;
}